* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
}
.nav {
  display: flex;
  background-color: #333;
  padding: 20px;
}
.nav-brand {
  flex: 1;
  color: #fff;
  font-weight: 450;
  font-size: 18px;
}
.close {
  text-decoration: none;
  color: #fff;
}
.col {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  width: 90%;
  margin: 10px auto;
}
.col .title, .ar {
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
}
.col .tr {
  font-weight: bold;
}
.col .id {
  opacity: 50%;
}
